
<h5><%= link_to 'Crear nueva ToDo', todos_new_path %></h5>

<div class="card">
  <div class="card-body">
    <% @todos.each do |todo| %>
      <h2><%=todo.description%></h2>
      <p>Estatus Tarea: <%=todo.completed%></p>
      <p><%= link_to 'Ver Tarea', todo_path(todo) %></p>
      <p><%= link_to 'Editar Tarea', edit_todo_path(todo) %></p>
      <p><%= link_to 'Eliminar Tarea', todo, method: :delete%></p>
    <% end %>
  </div>
</div>
